## Naive Baye's classifier from scratch

In [88]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [89]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/Digit.csv'
dfTest = pd.read_csv(path)
dfTest.rename(columns = {'digitid':'Digit'},inplace = True)
dfTest

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

    s1  s2  s3  s4  s5  s6  s7  Digit
0    0   1   1   0   0   1   0      1
1    0   1   1   0   0   0   0      1
2    0   1   1   0   0   0   0      1
3    0   1   1   0   0   0   0      1
4    0   1   1   0   0   0   0      1
5    1   1   0   1   1   0   1      2
6    1   0   0   0   1   0   1      2
7    1   1   0   0   1   0   1      2
8    1   1   0   1   1   0   1      2
9    1   1   0   1   1   0   1      2
10   1   1   1   1   0   0   1      3
11   0   1   1   1   0   0   1      3
12   1   0   1   1   0   0   1      3
13   1   1   1   1   1   0   1      3
14   1   1   1   1   0   0   1      3
15   0   1   1   0   0   1   1      4
16   0   0   1   0   0   1   1      4
17   0   1   1   0   0   1   1      4
18   1   1   1   0   0   1   0      4
19   0   1   1   0   0   1   0      4
20   1   0   1   1   0   1   1      5
21   1   0   1   0   0   1   1      5
22   1   0   1   1   0   1   1      5
23   1   0   1   1   0   1   1      5
24   1   1   1   1   0   1   1      5
25   0   0   1   0   1   1   1      6
26   0   0   1   1   1   1   0      6
27   1   0   1   1   1   1   1      6
28   0   0   1   1   1   1   1      6
29   0   0   1   1   0   0   0      6
30   1   1   1   0   0   0   0      7
31   1   1   1   1   0   0   0      7
32   1   1   1   1   0   0   0      7
33   1   1   0   0   1   0   0      7
34   1   1   1   0   0   0   0      7
35   1   1   1   1   1   1   1      8
36   1   1   1   1   1   0   0      8
37   1   1   1   1   1   1   0      8
38   1   1   1   1   1   1   1      8
39   1   1   1   1   1   1   0      8
40   1   1   1   0   0   1   1      9
41   1   1   1   0   0   1   0      9
42   1   1   1   0   0   1   1      9
43   1   1   1   0   0   1   1      9
44   1   1   1   0   0   1   1      9
45   1   1   1   1   1   1   0      0
46   1   1   1   0   1   1   0      0
47   1   1   1   1   1   1   0      0
48   1   1   1   1   1   1   0      0
49   1   1   1   1   1   1   0      0

In [90]:
path = '/content/drive/MyDrive/digit_train.csv'
dfTrain = pd.read_csv(path)
dfTrain.rename(columns = {'Digit-ID':'Digit'},inplace = True)
dfTrain

     s1  s2  s3  s4  s5  s6  s7  Digit
0     0   1   1   0   0   0   0      1
1     0   1   1   1   0   0   1      1
2     0   1   0   0   1   0   1      1
3     0   1   1   1   0   0   0      1
4     1   1   1   0   0   0   0      1
..   ..  ..  ..  ..  ..  ..  ..    ...
195   1   1   1   1   1   1   0      0
196   1   1   1   1   0   1   1      0
197   1   1   1   1   1   1   1      0
198   0   1   1   1   1   0   0      0
199   0   1   1   1   1   1   1      0

[200 rows x 8 columns]

In [116]:
Matrix = []
for i in range(10):
    liP = []
    for j in range(7):
        oneCount = 0
        liNew = list(dfTrain['s'+str(j+1)])
        li = liNew[i*20:i*20+20]
        for k in range(len(li)):
            if li[k] == 1:
                oneCount += 1
        liP.append((1+oneCount)/22)
    Matrix.append(liP)
DF = pd.DataFrame(Matrix)
print(DF)

          0         1         2         3         4         5         6
0  0.181818  0.818182  0.772727  0.227273  0.181818  0.181818  0.272727
1  0.727273  0.772727  0.090909  0.727273  0.681818  0.363636  0.863636
2  0.772727  0.772727  0.681818  0.590909  0.318182  0.181818  0.772727
3  0.272727  0.636364  0.863636  0.272727  0.136364  0.772727  0.909091
4  0.863636  0.272727  0.727273  0.863636  0.318182  0.818182  0.863636
5  0.227273  0.090909  0.818182  0.727273  0.636364  0.772727  0.818182
6  0.818182  0.863636  0.727273  0.454545  0.181818  0.045455  0.181818
7  0.727273  0.863636  0.818182  0.772727  0.590909  0.863636  0.681818
8  0.818182  0.772727  0.681818  0.227273  0.272727  0.818182  0.727273
9  0.772727  0.772727  0.818182  0.818182  0.909091  0.863636  0.363636

In [118]:
MatrixFinal = []
for i in range(50):
    LI = []
    for j in range(10):
        res = 1
        for k in range(7):
            if(dfTest.iloc[i,k] == 1):
                res *= DF.iloc[j,k]
            else:
                res *= (1-DF.iloc[j,k])
        LI.append(res)
    MatrixFinal.append(LI)
DfFinal = pd.DataFrame(MatrixFinal)
DfFinal

,0,1,2,3,4,5,6,7,8,9
0,0.043245,0.000082,0.001380,0.017636,0.000281,0.000801,0.001895,0.004924,0.012013,0.001305
1,0.194603,0.000144,0.006211,0.005187,0.000062,0.000236,0.039803,0.000777,0.002669,0.000206
2,0.194603,0.000144,0.006211,0.005187,0.000062,0.000236,0.039803,0.000777,0.002669,0.000206
3,0.194603,0.000144,0.006211,0.005187,0.000062,0.000236,0.039803,0.000777,0.002669,0.000206
4,0.194603,0.000144,0.006211,0.005187,0.000062,0.000236,0.039803,0.000777,0.002669,0.000206
5,0.000312,0.139230,0.022584,0.000182,0.002772,0.000323,0.002764,0.004848,0.001649,0.004004
6,0.000236,0.015356,0.004599,0.000277,0.001167,0.001212,0.000524,0.000225,0.001649,0.000262
7,0.001060,0.052211,0.015635,0.000485,0.000438,0.000121,0.003317,0.001426,0.005606,0.000890
8,0.000312,0.139230,0.022584,0.000182,0.002772,0.000323,0.002764,0.004848,0.001649,0.004004
9,0.000312,0.139230,0.022584,0.000182,0.002772,0.000323,0.002764,0.004848,0.001649,0.004004
10,0.004770,0.006497,0.103702,0.007294,0.015839,0.000831,0.033170,0.015104,0.009422,0.001802
11,0.021464,0.002437,0.030501,0.019451,0.002501,0.002826,0.007371,0.005664,0.002094,0.000530
12,0.001060,0.001911,0.030501,0.004168,0.042237,0.008313,0.005237,0.002385,0.002771,0.000530
13,0.001060,0.013923,0.048394,0.001152,0.007391,0.001455,0.007371,0.021817,0.003533,0.018019
14,0.004770,0.006497,0.103702,0.007294,0.015839,0.000831,0.033170,0.015104,0.009422,0.001802
15,0.016217,0.000522,0.004692,0.176358,0.001777,0.003604,0.000421,0.010551,0.032033,0.000746
16,0.003604,0.000154,0.001380,0.100776,0.004739,0.036038,0.000067,0.001666,0.009422,0.000219
17,0.016217,0.000522,0.004692,0.176358,0.001777,0.003604,0.000421,0.010551,0.032033,0.000746
18,0.009610,0.000220,0.004692,0.006613,0.001777,0.000236,0.008529,0.013130,0.054056,0.004438
19,0.043245,0.000082,0.001380,0.017636,0.000281,0.000801,0.001895,0.004924,0.012013,0.001305
20,0.000236,0.001092,0.006778,0.014172,0.190067,0.028265,0.000249,0.015104,0.012470,0.003356
21,0.000801,0.000410,0.004692,0.037791,0.030011,0.010599,0.000299,0.004442,0.042397,0.000746
22,0.000236,0.001092,0.006778,0.014172,0.190067,0.028265,0.000249,0.015104,0.012470,0.003356
23,0.000236,0.001092,0.006778,0.014172,0.190067,0.028265,0.000249,0.015104,0.012470,0.003356
24,0.001060,0.003713,0.023045,0.024800,0.071275,0.002826,0.001580,0.095659,0.042397,0.011412
25,0.000801,0.000329,0.000644,0.015912,0.002211,0.063066,0.000015,0.002406,0.003533,0.002194
26,0.000628,0.000139,0.000274,0.000597,0.002211,0.037372,0.000055,0.003818,0.000390,0.017276
27,0.000052,0.002340,0.003163,0.002238,0.088698,0.049463,0.000055,0.021817,0.004676,0.033564
28,0.000236,0.000878,0.000930,0.005967,0.014005,0.168175,0.000012,0.008181,0.001039,0.009872
29,0.012719,0.000113,0.002638,0.001112,0.001053,0.006281,0.005237,0.000417,0.000231,0.000273
30,0.043245,0.000385,0.021116,0.001945,0.000395,0.000069,0.179115,0.002073,0.012013,0.000701
31,0.012719,0.001026,0.030501,0.000729,0.002501,0.000185,0.149263,0.007049,0.003533,0.003153
32,0.012719,0.001026,0.030501,0.000729,0.002501,0.000185,0.149263,0.007049,0.003533,0.003153
33,0.002826,0.008244,0.004599,0.000048,0.000069,0.000027,0.014926,0.000665,0.002102,0.001557
34,0.043245,0.000385,0.021116,0.001945,0.000395,0.000069,0.179115,0.002073,0.012013,0.000701
35,0.000236,0.007956,0.010754,0.003916,0.033262,0.004946,0.000351,0.138173,0.015899,0.114119
36,0.002826,0.002198,0.014234,0.000115,0.001167,0.000323,0.033170,0.010181,0.001325,0.031533
37,0.000628,0.001256,0.003163,0.000392,0.005252,0.001099,0.001580,0.064481,0.005962,0.199708
38,0.000236,0.007956,0.010754,0.003916,0.033262,0.004946,0.000351,0.138173,0.015899,0.114119
39,0.000628,0.001256,0.003163,0.000392,0.005252,0.001099,0.001580,0.064481,0.005962,0.199708
40,0.003604,0.001392,0.015954,0.066134,0.011254,0.001060,0.001895,0.028135,0.144150,0.002536
41,0.009610,0.000220,0.004692,0.006613,0.001777,0.000236,0.008529,0.013130,0.054056,0.004438
42,0.003604,0.001392,0.015954,0.066134,0.011254,0.001060,0.001895,0.028135,0.144150,0.002536
43,0.003604,0.001392,0.015954,0.066134,0.011254,0.001060,0.001895,0.028135,0.144150,0.002536
44,0.003604,0.001392,0.015954,0.066134,0.011254,0.001060,0.001895,0.028135,0.144150,0.002536
45,0.000628,0.001256,0.003163,0.000392,0.005252,0.001099,0.001580,0.064481,0.005962,0.199708
46,0.002136,0.000471,0.002190,0.001044,0.000829,0.000412,0.001895,0.018965,0.020271,0.044380
47,0.000628,0.001256,0.003163,0.000392,0.005252,0.001099,0.001580,0.064481,0.005962,0.199708
48,0.000628,0.001256,0.003163,0.000392,0.005252,0.001099,0.001580,0.064481,0.005962,0.199708
49,0.000628,0.001256,0.003163,0.000392,0.005252,0.001099,0.001580,0.064481,0.005962,0.199708

In [131]:
LIST = []
for i in range(50):
    dict = {}
    for j in range(10):
        dict[j+1] = DfFinal.iloc[i,j]
    Keymax = max(zip(dict.values(), dict.keys()))[1]
    LIST.append(Keymax)
for i in range(len(LIST)):
    if(LIST[i] == 10):
        LIST[i] = 0
print(*LIST,end = " ")

1 1 1 1 1 2 2 2 2 2 3 3 5 3 3 4 4 4 9 1 5 9 5 5 8 6 6 5 6 1 7 7 7 7 7 8 7 0 8 0 9 9 9 9 9 0 0 0 0 0

**ACCURACY**

In [132]:
li = list(dfTest['Digit'])
Ans = 0
for i in range(len(li)):
    if(li[i] == LIST[i]):
        Ans += 1
print("Accuracy: ",Ans/len(li))

Accuracy:  0.8

In [133]:
print(*li,end = " ")

1 1 1 1 1 2 2 2 2 2 3 3 3 3 3 4 4 4 4 4 5 5 5 5 5 6 6 6 6 6 7 7 7 7 7 8 8 8 8 8 9 9 9 9 9 0 0 0 0 0